{% extends "base.html" %}
{% load static %}

{% block css %}"{% static 'login.css' %}"{% endblock css %}
{% block JS %}"{% static 'login.js' %}"{% endblock  %}

{% block content %}
<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
            <h1 class="opacity">REGISTER</h1>
            <form method="POST">
                {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}    
                <input type="text" placeholder="USERNAME" name="username" />
                <input type="password" placeholder="PASSWORD" name="password"/>
                <input type="password" placeholder="VERIFY PASSWORD" name="verify_password">
                <button class="opacity">SUBMIT</button>
            </form>
            <div class="register-forget opacity">
                <a href="{% url 'login' %}">LOGIN</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
{% endblock content %}


